

.main-container{
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto 1fr auto;
    grid-template-areas:
        "header header header"
        "main main main"
        "footer footer footer";
}

header{
    grid-area: header;
    position: sticky;
}
main{
    grid-area: main;
}
footer{
    grid-area: footer;
    background-color: var(--color-yellow);
    color: var(--color-dark);
}


/*flex*/

.flex{
    display: flex;
}
.col{
    flex-direction: column;
}
.row{
    flex-direction: row;
}

.gap-1rem-0{
    gap: 1rem 0;
}
.gap-0-1rem{
    gap: 0 1rem;
}

.align-center{
    align-items: center;
}



/*margin*/

.margin-1rem{
    margin: 1rem;
}

.side-margin-20{
    margin: 0 20px;
}

.margin-auto{
    margin-top: auto;
}

/*padding*/

.side-padding-20{
    padding: 10px 20px;
}

/*text align*/

.txt-align-right{
    text-align: right;
}
