
.info-label div {
    display: inline-block;
    transform-origin: center center;
    transition: transform 0.3s ease;
  }


  #documentation1:checked ~ div label[for="documentation1"] div,
  #documentation2:checked ~ div label[for="documentation2"] div{
    transform: rotate(90deg);
  }

  .documentation-content #privacy-policy,
  .documentation-content #terms-conditions{
    width: 100%;
    height: 100%;
    z-index: -5;
    display: none;
  }

  #documentation1:checked ~ .documentation-content #privacy-policy,
  #documentation2:checked ~ .documentation-content #terms-conditions{
    z-index: 5;

    display: block;
    }