.exhibitions-banner{
    background-image:
    linear-gradient(var(--color-shadow-image), var(--color-shadow-image)),
    var(--img-small-boy-painting);
}

.banner-img{
    width: 100%;
    height: 150px;
    background-repeat: no-repeat;
    background-size: 100% auto;
    background-position: center;
}

.title-banner-1{
 background-image: var(--title-img1);
}
.title-banner-2{
    background-image: var(--title-img2);
   }
.title-banner-3{
    background-image: var(--title-img3);
}
.title-banner-4{
    background-image: var(--title-img4);
}
.title-banner-5{
    background-image: var(--title-img5);
}



.exhibition-info {
    width: 100%;
    height: 100%;
    opacity: 0;
    scale: 0;
    transform: translateY(100%);
    transition: transform 0.5s ease, opacity 0.5s ease;
}

.exhibition-input:checked + .banner-img + .exhibition-info {
    transform: translateY(0);
    scale: 1;
    opacity: 1;
}
