
h1, h2, h3, h4, a, button{
    font-family: var(--title-font);
}

.btn-size{
    font-size: var(--button-text) !important;
    font-weight: 300;
}

.title-font{
    font-family: var(--title-font) !important;
}
p{
    font-size: var(--paragraph);
    font-family: var(--secondary-font);
    line-height: var(--paragraph-gap);
}
.paragraph{
    font-size: var(--paragraph);
}
.med-paragraph{
    font-size: var(--med-paragraph) !important;
    line-height: 20px;
}
.small-paragraph{
    font-size: var(--small-paragraph) !important;
}
h1, .h1{
    font-size: var(--title-h1);
    font-weight: 500;
}

h2, .h2{
    font-size: var(--title-h2);
    font-weight: 700;
    font-style: normal;
}

h3, .h3{
    font-size: var(--title-h3);
    font-weight: 500;
}


a, button{
    font-size: var(--button-text);
    font-weight: 300;
}

.large-title{
    font-size: var(--large-title) !important;
    font-weight: 600;
}
.large-heading{
    font-size: var(--large-heading) !important;
    font-weight: 500;
}




.italic{
    font-style: italic;
}

.medium{
    font-weight: 400;
}
.light{
    font-weight: 200;
}