@import url(variables.css);
@import url(reset.css);

@import url(general.css);

@import url(display.css);
@import url(fonts.css);
@import url(colors.css);

@import url(footer.css);
@import url(menu.css);


body {
    color: var(--color-black);
    background-color: var(--color-white);
    font-family: var(--secondary-font);
  }


  .some-img{
   width: auto;
   height: 50%;
   img{
    height: 100%;
    width: 100%;
    object-fit: cover;
   }
  }





  @media screen and (max-width: 899px) {
    .hidden-on-mobile {
      display: none !important;
      z-index: -1 !important;
    }
  }

  @media screen and (min-width: 900px) {
    .hidden-on-desktop {
      display: none !important;
      z-index: -1 !important;
    }
  }
