@import url(reset.css);
@import url(variables.css);


body {
    color: var(--color-black);
    background-color: var(--color-white);
    font-family: var(--secondary-font);
  }
  
  img {
    max-width: 100%;
  }