@import url(variables.css);
@import url(reset.css);

@import url(general.css);

@import url(display.css);
@import url(fonts.css);
@import url(colors.css);

@import url(footer.css);
@import url(menu.css);


body {
    color: var(--color-black);
    background-color: var(--color-white);
    font-family: var(--secondary-font);
  }


  .some-img{
   width: auto;
   height: 50%;
   img{
    height: 100%;
    width: 100%;
    object-fit: cover;
   }
  }

.background-svg{
  background-image: var(--background-hex);
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: top left ;
}



  @media screen and (max-width: 899px) {
    .hidden-on-mobile {
      display: none !important;
      z-index: -1 !important;
    }
  }

  @media screen and (min-width: 700px) {

    .background-svg{
      background-size: 500px auto;
      background-position: 0% 200px;
    }
  }

  @media screen and (min-width: 900px) {
    .hidden-on-desktop {
      display: none !important;
      z-index: -1 !important;
    }
  }

  @media screen and (min-width: 1440px) {

    .background-svg{
      background-size: 700px auto;
    }
  }
