#menu {
    position: fixed;
    top: 2%;
    right: 3%;
    z-index: 1;
  }

  #menu input {
    position: absolute;
    width: var(--button-lines-w);
    cursor: pointer;
    opacity: 0;
    z-index: 2;
    -webkit-touch-callout: none;
  }

  #menu label span {
    display: block;
    width: var(--button-lines-w);
    height: var(--button-lines-h);
    margin: 8px 0;
    background-color: var(--color-yellow);
    border-radius: var(--border-radius);
    position: relative;
    z-index: 3;
    transition: 0.5s ease-in-out;
    transform-origin: left center;
  }

  #menu input:checked ~ label span {
    transform: rotate(-30deg);
  }
  #menu input:checked ~ label span:nth-last-child(2) {
    width: 0%;
    opacity: 0;
    transition: 0.5s;
  }
  #menu input:checked ~ label span:nth-last-child(3) {
    transform: rotate(30deg);
  }

  
  ul.menu {
    position: fixed;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    transform: translateX(100%);
    transition: transform 0.5s ease, opacity 0.5s ease;
    padding: 10px 10px 10px 3%;
    background-color: var(--color-dark);
    color: var(--color-white);

    font-size: var(--menu-titles);
  }

  #menu input:checked ~ ul.menu{
    transform: translateX(0);
    opacity: 1;
    }
  
  ul.menu li {

  }
  
  
  /* .menu-layout {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: space-evenly;
    align-items: flex-start;
  } */