/*event slideshow img single*/

.event-container{
    background-repeat: no-repeat;
    background-size: cover;
    height: 500px;

    display: grid;
    grid-template-rows: 55% 45%;
    grid-template-areas: '.'
                        'placement';
}
.placement{
    grid-area: placement;
}

.event-img-1{
    background-image: var(--img-news-slideshow-woman-professor);
}
.event-img-2{
    background-image: var(--img-news-slideshow-aeria-elefant);
}
.event-img-3{
    background-image: var(--img-news-slideshow-container);
}


.exhibition-slideshow-1{
  background-image: var(--img-slideshow1);
}
.exhibition-slideshow-2{
  background-image: var(--img-slideshow2);
}
.exhibition-slideshow-3{
  background-image: var(--img-slideshow3);
}
.exhibition-slideshow-4{
  background-image: var(--img-slideshow4);
}
.exhibition-slideshow-5{
  background-image: var(--img-slideshow5);
}

/*event-slideshow*/

.event-parent {
  position: relative;
  width: 100%;
  /* height: 100%; */
  overflow: hidden;
}

.event-slides {
  display: flex; 
  height: 500px;
  transition: transform 0.8s ease;
}


.event-slides .event-container {
  flex: 0 0 100%; 
  height: 100%;
  display: grid;
  grid-template-rows: 55% 45%;
  grid-template-areas:
  "."
  "placement";
}
.ehxibition-slideshow{
  height: 300px;
}


.nav-circles {
  /* position: absolute; 
  bottom: 10px; 
  left: 50%; 
  transform: translateX(-50%);  */
  margin: 10px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem; 
  z-index: 10; 
}

.nav-circles .circle div {
  --b: 2px; 
  height: 25px; 
  aspect-ratio: cos(30deg);
  clip-path: 
    polygon(50% 0,-50% 50%,50% 100%,150% 50%,50% 0,
    50% var(--b),
    calc(100% - var(--b)*sin(60deg)) calc(25% + var(--b)*cos(60deg)),
    calc(100% - var(--b)*sin(60deg)) calc(75% - var(--b)*cos(60deg)),
    50% calc(100% - var(--b)),
    calc(var(--b)*sin(60deg)) calc(75% - var(--b)*cos(60deg)),
    calc(var(--b)*sin(60deg)) calc(25% + var(--b)*cos(60deg)),
    50% var(--b));
  background-color: var(--color-purple);
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.nav-circles .circle:hover {
  scale: 1.2;
}


input#event-slide1:checked ~ .nav-circles label[for="event-slide1"] div,
input#event-slide2:checked ~ .nav-circles label[for="event-slide2"] div,
input#event-slide3:checked ~ .nav-circles label[for="event-slide3"] div,
input#exh-slide1:checked ~ .nav-circles label[for="exh-slide1"] div,
input#exh-slide2:checked ~ .nav-circles label[for="exh-slide2"] div,
input#exh-slide3:checked ~ .nav-circles label[for="exh-slide3"] div,
input#exh-slide4:checked ~ .nav-circles label[for="exh-slide4"] div,
input#exh-slide5:checked ~ .nav-circles label[for="exh-slide5"] div {
  aspect-ratio: cos(30deg);
  clip-path: polygon(-50% 50%,50% 100%,150% 50%,50% 0);
  background-color: var(--color-purple);
}


  /*general image slideshow*/
  .slides {
    height: 300px;
    white-space: nowrap;
    transition: 0.8s;
    font-size: 0
  }
  
  .slides .slider-img {
    width: 100%;
    height: 100%;
    display: inline-block;
    white-space: normal;
    vertical-align: top;
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
  



  .arrows {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    
    bottom: 0; 
    z-index: 10;
    pointer-events: none;
}

.arrow {
    position: static; 
    margin: 0 15px; 
    font-size: 2rem;
    cursor: pointer;
    pointer-events: all;
    color: var(--color-dark);

    user-select: none;
    display: none; 
}








input[name="biology-slider"]:nth-of-type(1):checked ~ .slides,
input[name="cosmology-slider"]:nth-of-type(1):checked ~ .slides,
input[name="robotics-slider"]:nth-of-type(1):checked ~ .slides,
input[name="evolution-slider"]:nth-of-type(1):checked ~ .slides,
input[name="ecology-slider"]:nth-of-type(1):checked ~ .slides,
input[name="event-slider"]:nth-of-type(1):checked ~ .event-slides,
input[name="exhibition-slider"]:nth-of-type(1):checked ~ .event-slides  {
    transform: translateX(0%);
    -webkit-transform: translateX(0%);
}

input[name="biology-slider"]:nth-of-type(2):checked ~ .slides,
input[name="cosmology-slider"]:nth-of-type(2):checked ~ .slides,
input[name="robotics-slider"]:nth-of-type(2):checked ~ .slides,
input[name="evolution-slider"]:nth-of-type(2):checked ~ .slides,
input[name="ecology-slider"]:nth-of-type(2):checked ~ .slides,
input[name="event-slider"]:nth-of-type(2):checked ~ .event-slides,
input[name="exhibition-slider"]:nth-of-type(2):checked ~ .event-slides  {
    transform: translateX(-100%);
    -webkit-transform: translateX(-100%);
}

input[name="biology-slider"]:nth-of-type(3):checked ~ .slides,
input[name="cosmology-slider"]:nth-of-type(3):checked ~ .slides,
input[name="robotics-slider"]:nth-of-type(3):checked ~ .slides,
input[name="evolution-slider"]:nth-of-type(3):checked ~ .slides,
input[name="ecology-slider"]:nth-of-type(3):checked ~ .slides,
input[name="event-slider"]:nth-of-type(3):checked ~ .event-slides,
input[name="exhibition-slider"]:nth-of-type(3):checked ~ .event-slides  {
    transform: translateX(-200%);
    -webkit-transform: translateX(-200%);
}
input[name="exhibition-slider"]:nth-of-type(4):checked ~ .event-slides  {
  transform: translateX(-300%);
  -webkit-transform: translateX(-300%);
}
input[name="exhibition-slider"]:nth-of-type(5):checked ~ .event-slides  {
  transform: translateX(-400%);
  -webkit-transform: translateX(-400%);
}




input[name="biology-slider"]:nth-of-type(1):checked ~ .arrows label:nth-of-type(1),
input[name="biology-slider"]:nth-of-type(1):checked ~ .arrows label:nth-of-type(2),
input[name="biology-slider"]:nth-of-type(2):checked ~ .arrows label:nth-of-type(3),
input[name="biology-slider"]:nth-of-type(2):checked ~ .arrows label:nth-of-type(4),
input[name="biology-slider"]:nth-of-type(3):checked ~ .arrows label:nth-of-type(5),
input[name="biology-slider"]:nth-of-type(3):checked ~ .arrows label:nth-of-type(6),
input[name="cosmology-slider"]:nth-of-type(1):checked ~ .arrows label:nth-of-type(1),
input[name="cosmology-slider"]:nth-of-type(1):checked ~ .arrows label:nth-of-type(2),
input[name="cosmology-slider"]:nth-of-type(2):checked ~ .arrows label:nth-of-type(3),
input[name="cosmology-slider"]:nth-of-type(2):checked ~ .arrows label:nth-of-type(4),
input[name="cosmology-slider"]:nth-of-type(3):checked ~ .arrows label:nth-of-type(5),
input[name="cosmology-slider"]:nth-of-type(3):checked ~ .arrows label:nth-of-type(6),
input[name="robotics-slider"]:nth-of-type(1):checked ~ .arrows label:nth-of-type(1),
input[name="robotics-slider"]:nth-of-type(1):checked ~ .arrows label:nth-of-type(2),
input[name="robotics-slider"]:nth-of-type(2):checked ~ .arrows label:nth-of-type(3),
input[name="robotics-slider"]:nth-of-type(2):checked ~ .arrows label:nth-of-type(4),
input[name="robotics-slider"]:nth-of-type(3):checked ~ .arrows label:nth-of-type(5),
input[name="robotics-slider"]:nth-of-type(3):checked ~ .arrows label:nth-of-type(6),
input[name="evolution-slider"]:nth-of-type(1):checked ~ .arrows label:nth-of-type(1),
input[name="evolution-slider"]:nth-of-type(1):checked ~ .arrows label:nth-of-type(2),
input[name="evolution-slider"]:nth-of-type(2):checked ~ .arrows label:nth-of-type(3),
input[name="evolution-slider"]:nth-of-type(2):checked ~ .arrows label:nth-of-type(4),
input[name="evolution-slider"]:nth-of-type(3):checked ~ .arrows label:nth-of-type(5),
input[name="evolution-slider"]:nth-of-type(3):checked ~ .arrows label:nth-of-type(6),
input[name="ecology-slider"]:nth-of-type(1):checked ~ .arrows label:nth-of-type(1),
input[name="ecology-slider"]:nth-of-type(1):checked ~ .arrows label:nth-of-type(2),
input[name="ecology-slider"]:nth-of-type(2):checked ~ .arrows label:nth-of-type(3),
input[name="ecology-slider"]:nth-of-type(2):checked ~ .arrows label:nth-of-type(4),
input[name="ecology-slider"]:nth-of-type(3):checked ~ .arrows label:nth-of-type(5),
input[name="ecology-slider"]:nth-of-type(3):checked ~ .arrows label:nth-of-type(6),
input[name="event-slider"]:nth-of-type(1):checked ~ .arrows label:nth-of-type(1),
input[name="event-slider"]:nth-of-type(1):checked ~ .arrows label:nth-of-type(2),
input[name="event-slider"]:nth-of-type(2):checked ~ .arrows label:nth-of-type(3),
input[name="event-slider"]:nth-of-type(2):checked ~ .arrows label:nth-of-type(4),
input[name="event-slider"]:nth-of-type(3):checked ~ .arrows label:nth-of-type(5),
input[name="event-slider"]:nth-of-type(3):checked ~ .arrows label:nth-of-type(6) {
    display: inline-block;
}

.arrow:not(:hover) {
    opacity: 0.7;
    transition: opacity 0.3s;
}

.arrow:hover {
    opacity: 1;
}


  

@media screen and (min-width: 900px){
    .event-container{
        width: 500px;
        height: 500px;
    }
    .ehxibition-slideshow{
      height: 400px;
      column-gap: 5%;
      margin: 0 5%;
    }
    .ehxibition-slideshow .event-container{
      max-width: 50%;
      
    }


    input[name="exhibition-slider"]:nth-of-type(1):checked ~ .event-slides  {
        transform: translateX(0%);
        -webkit-transform: translateX(0%);
    }

    input[name="exhibition-slider"]:nth-of-type(2):checked ~ .event-slides  {
        transform: translateX(-55%);
        -webkit-transform: translateX(-55%);
    }
   
    input[name="exhibition-slider"]:nth-of-type(3):checked ~ .event-slides  {
        transform: translateX(-110%);
        -webkit-transform: translateX(-110%);
    }
    input[name="exhibition-slider"]:nth-of-type(4):checked ~ .event-slides  {
      transform: translateX(-165%);
      -webkit-transform: translateX(-165%);
    }
    input[name="exhibition-slider"]:nth-of-type(5):checked ~ .event-slides  {
      transform: translateX(-220%);
      -webkit-transform: translateX(-220%);
    }
    
      .slides {
        height: 400px;
        width: 50%; 
      }
      .slides .slider-img {
        padding: 0 20px;
      }

      
      input[name="biology-slider"]:nth-of-type(1):checked ~ .slides,
input[name="cosmology-slider"]:nth-of-type(1):checked ~ .slides,
input[name="robotics-slider"]:nth-of-type(1):checked ~ .slides,
input[name="evolution-slider"]:nth-of-type(1):checked ~ .slides,
input[name="ecology-slider"]:nth-of-type(1):checked ~ .slides  {
    transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
}

input[name="biology-slider"]:nth-of-type(2):checked ~ .slides,
input[name="cosmology-slider"]:nth-of-type(2):checked ~ .slides,
input[name="robotics-slider"]:nth-of-type(2):checked ~ .slides,
input[name="evolution-slider"]:nth-of-type(2):checked ~ .slides,
input[name="ecology-slider"]:nth-of-type(2):checked ~ .slides  {
    transform: translateX(-150%);
    -webkit-transform: translateX(-150%);
}

input[name="biology-slider"]:nth-of-type(3):checked ~ .slides,
input[name="cosmology-slider"]:nth-of-type(3):checked ~ .slides,
input[name="robotics-slider"]:nth-of-type(3):checked ~ .slides,
input[name="evolution-slider"]:nth-of-type(3):checked ~ .slides,
input[name="ecology-slider"]:nth-of-type(3):checked ~ .slides  {
    transform: translateX(50%);
    -webkit-transform: translateX(50%);
}
}

@media screen and (min-width: 1440px){
    .event-container{
        width: 700px;
        height: 700px;
    }
    .slides {
        height: 600px;
        /* width: 800px;  */
      }
}