@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");


:root{

    /*COLORS*/
    --color-yellow: #FFCC00;
    --color-blue: #3A86FF;
    --color-dark: #252424;

    --color-white: #F5F5F5;
    --color-off-white: #FAF3E0;
    --color-purple: #8E44AD;

    --color-black:#1E1E1E;
    --color-shadow: #1e1e1e35;
    --color-shadow-image: #1E1E1E70;
    
    /*VALUES*/
    --button-lines-w: 50px;
    --button-lines-h: 4px; 
    
    --border-radius: 5px;
    
    --title-gap: 35px; /*70*/
    --paragraph-gap: 23px; /*30*/

    /*FONT STYLES*/
    --title-font: "Poppins", sans-serif;
    --secondary-font: "DM Sans", sans-serif;

    /*FONT SIZES*/
    --menu-titles: 28px; /*22*/
    --large-heading: 40px; /*55*/
    --large-title: 32px; /*50*/

    --title-h1: 24px; /*30*/
    --title-h2: 20px; /*30*/
    --title-h3: 18px; /*26*/

    --button-text: 25px; /*30*/

    --paragraph: 18px; /*20*/
    --med-paragraph: 16px; /*18*/
    --small-paragraph: 14px; /*16*/

    /*IMAGES*/

    /*contact page*/
    --img-small-aeria1: url(../img/library-1132573_1920.jpg);
    --img-small-aeria2: url(../img/exhibition-1863344_1920.jpg);
    --img-small-map: url(../img/informational/Skjermbilde 2024-12-17 213356.jpg);

    /*contribution page*/
    --img-small-aeria3: url(../img/scott-webb-102825.jpg);
    --img-small-boy-reading: url(../img/illustrations/reading-2762010_1280.jpg);

    /*exhibition page*/
    --img-small-boy-painting: url(../img/billetto-editorial-334686.jpg);




    /*biology and medicine*/
    --img-small-heart: url(../img/heart-2607178_1920.jpg);
    --img-small-brain: url(../img/jesse-orrico-60373.jpg);
    --img-small-maniken: url(../img/samuel-zeller-113381.jpg);

    /*robotics and ai*/
    --img-small-big-robot: url(../img/_3ca0d88f-9eac-4601-bf87-394c74b18245 (1).jpg);
    --img-small-small-robot: url(../img/robot.jpg);
    --img-small-girl-with-oculus: url(../img/samuel-zeller-158996.jpg);

    /*evolution*/
    --img-small-mammoth: url(../img/mammoth-1257288_1920.jpg);
    --img-small-evolution: url(../img/_517c421f-9996-4a3c-945c-1a11369ed5a1.jpg);
    --img-small-aeria-dinosaur:url(../img/toa-heftiba-412579.jpg);

    /*cosmology*/
    --img-small-man-in-suit: url(../img/andrew-ruiz-348421.jpg);
    --img-small-planet: url(../img/_b2cf3786-5701-46fa-ab8e-38d62a4058c51.jpg);
    --img-small-library: var(--img-small-aeria1);

    /*ecology*/
    --img-small-big-ant: url(../img/genoa-956405_1920.jpg);
    --img-small-planet2: url(../img/_f6285288-dfc6-4b14-b273-48b8f6b56c6a1.jpg);
    --img-small-man-working: url(../img/people-219985_1280.jpg);

    



    /*news slideshow*/
    --img-news-slideshow-woman-professor: url(../img/professor_lecture_small.jpg);
    --img-news-slideshow-aeria-elefant: url(../img/roberto-nickson-396152.jpg);
    --img-news-slideshow-container: url(../img/scientific-2040795_1280.jpg);

    /*slideshow banner front page*/
    --img-banner-1: var(--img-small-aeria2);
    --img-banner-2: var(--img-small-maniken);
    --img-banner-3: var(--img-small-girl-with-oculus);
    --img-banner-4: var(--img-news-slideshow-aeria-elefant);

    /*exhibition slideshow*/
    --img-slideshow1: var(--img-small-man-in-suit);
    --img-slideshow2: url(../img/evolution-illustration.jpg);
    --img-slideshow3: var(--img-small-brain);
    --img-slideshow4: var(--img-small-big-robot);
    --img-slideshow5: var(--img-small-planet2);

    /*explore banners*/
    --explore-banner1: var(--img-small-boy-reading);
    --explore-banner2: url(../img/luke-ellis-craven-400722.jpg);
    --explore-banner3: var(--img-small-man-working);
    
    /*exhibition titles*/
    --title-img1: url(../img/illustrations/celso-405219.jpg);
    --title-img2: url(../img/skeleton-414543_1920.jpg);
    --title-img3: var(--img-small-heart);
    --title-img4: var(--img-small-small-robot);
    --title-img5: var(--img-small-planet);



    /*ICONS*/
    --facebook-logo: url(../img/icons/facebook-logo.svg);
    --instagram-logo: url(../img/icons/instagram-logo.svg);
    --tiktok-logo: url(../img/icons/tiktok-logo.svg);

    --location-icon: url(../img/icons/location-icon.svg);
    --phone-icon: url(../img/icons/mobile-icon.svg);
    --mail-icon: url(../img/icons/mail-icon.svg);

    /*LOGO*/
    --logo-color-light: url(../img/logo/color-light-logo.svg);
    --logo-color-dark: url(../img/logo/color-dark-logo.svg);
    --logo-dark: url(../img/logo/dark-logo.svg);
    --logo-light: url(../img/logo/white-logo.svg);

    --logo-small-dark-color: url(../img/logo/dark-color-small-logo.svg);
    --logo-small-light-color: url(../img/logo/light-color-small-logo.svg);
    --logo-small-dark: url(../img/logo/dark-small-logo.svg);
    --logo-small-light: url(../img/logo/light-small-logo.svg);

    /*UTILITIES*/
    --background-hex: url(../img/illustrations/background-hex.svg);
    --background-hex-dark: url(../img/illustrations/background-hex-dark.svg);
} 

@media screen and (min-width: 900px) {
    :root{
        /*VALUES*/
        --title-gap: 40px; 
        --paragraph-gap: 25px; 
    
        /*FONT SIZES*/
        --menu-titles: 20px; 
        --large-heading: 45px; 
        --large-title: 40px; 
    
        --title-h1: 28px; 
        --title-h2: 25px; 
        --title-h3: 20px; 
    
        --button-text: 25px; 
    
        --paragraph: 18px; 
        --med-paragraph: 16px;
        --small-paragraph: 14px; 

                 /*slideshow banner front page*/
                 --img-banner-2: var(--img-small-boy-painting);
                 --img-banner-3: var(--img-small-mammoth);
                 --img-banner-4: var(--img-small-man-in-suit);

    
        /*contribution page*/

        --img-small-boy-reading: url(../img/illustrations/reading-2762010_1280-Large.jpg);
    } 
}

@media screen and (min-width: 1200px) {
    :root{
        /*VALUES*/
        --title-gap: 70px; 
        --paragraph-gap: 30px; 
    
        /*FONT SIZES*/
        --menu-titles: 22px; 
        --large-heading: 55px; 
        --large-title: 50px; 
    
        --title-h1: 30px; 
        --title-h2: 30px; 
        --title-h3: 26px; 
    
        --button-text: 30px; 
    
        --paragraph: 20px; 
        --med-paragraph: 18px;
        --small-paragraph: 16px; 



    } 
}